@import 'setup';
@import 'utils';

$body-font: 'Montserrat', sans-serif;
$header-font: 'Roboto Slab', serif;
$main-gradient: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);

$black: #474747;

html {
    font-size: 62.5%;
}

body {
    background: #A770EF;
    /* fallback for old browsers */

    background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
    /* Chrome 10-25, Safari 5.1-6 */

    background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: $body-font;
    font-size: 1.6rem;

}

form {
    margin-bottom: 15px;

    .clear-input {
        border: none;
        background: transparent;
        padding: 0 15px;
    }

    .input-block {
        background: white;
        display: grid;
        grid-template-columns: 1fr auto;
        width: 100%;
    }
    input {
        &[type=search],
        &[type=submit] {
            box-sizing: border-box;
            padding: 15px;
        }

        &[type=search] {
            background: white;
            border: none;

            &:focus {
                outline: 2px solid #A770EF;
            }
        }
        &[type=submit] {
            background: $main-gradient;
            border: 2px solid #A770EF;
            border-radius: 2px;
            color: white;
            font-weight: 700;
            transition: all 0.5s ease-in-out;
            width: 100%;
            &:hover,
            &:focus {
                background: white;
                color: #A770EF;
            }
        }

        &[type=checkbox] {
            display: inline;
            opacity: 0;
            position: absolute;
            top: -9999px;
            left: -9999px;

            &+label {
                background-color: white;
                background-position: 15px center;
                background-repeat: no-repeat;
                background-size: 1.5em;
                border: 2px solid $black;
                border-radius: 2px;
                display: inline-block;
                font-weight: bold;
                margin: 20px 10px 20px 0;
                padding: 10px 20px 10px 45px;
    
                &[for='ada-accessible'] {
                    background-image: url('../images/wheelchair.png');
                }
    
                &[for='unisex'] {
                    background-image: url('../images/unisex.png');
                }
            }

            &:checked+label {
                border: 2px solid #A770EF;
                color: #A770EF;
            }

        }
    }
}

footer {
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.2);
    grid-column: 1 / -1;
    padding: .75rem 0;

    p {
        font-family: $header-font;
        font-weight: 700;
        font-size: 1.4rem;
        margin: 5px;
        padding: 0;
        text-align: center;
    }
}
header, footer {
    z-index: 20;
}

header {
    align-items: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    grid-column: 1 / -1;
    justify-content: space-between;
    padding: 0 0 5px 0;

    .logo {
        display: block;
        width: 45px;
        margin: 8px 5px 5px 0;
    }
    .logo-container {
        align-items: center;
        display: flex;
        margin-left: 10px;
    }
    h1 {
        text-align: left;
        font-family: $header-font;
        color: darken($black, 5%);
        font-size: 3rem;
        margin: 5px 2px 0;
        padding: 0;
        font-weight: 700;
        display: inline-block;
    }
    p {
        padding: 0; // margin: 0 0 0 10px;
        color: darken($black, 5%);
        font-family: $header-font;
        font-weight: 700;
        margin: 0 25px 0 0;
    }
}

#map {
    height: 100%;
    width: 100%;
}

.app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.features {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;    
    
    li {
        margin-right: 8px;
        
        img {
            display: block;
        }

        .icon {
            max-height: 2em;
            padding-right: .75rem;
        }
    }

}

.mapContainer {
    grid-column: 1;
    grid-row: 1;
}

.mapContainer,
.sidebar {
    background-color: rgba(255, 255, 255, 0.8);
}

.search-title {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.sidebar {
    box-shadow: -1px 0 3px rgba(0,0,0,0.2);
    display: grid;
    grid-column: 2;
    grid-row: 1;
    grid-template-rows: auto 1fr;
    padding: 25px;
    z-index: 10;
}


.washroomContainer {
    grid-column: -1;
    overflow-y: auto;
    
    h2 {
        font-size: 1.6rem;
        margin: 0 0 0.5rem 0;
    }
    p {
        font-size: 1.4rem;
        margin: 0 0.5rem 0 0;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    
    & > div {
        align-items: center;
        border-top: 1px solid transparent;
        border-image: $main-gradient;
        border-image-slice: 1;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto;
        margin-top: 1.5rem;
        padding-top: 2rem;


        .washroom-inner-content {
            grid-column: 1 / 2;
            grid-row: 1;
        }

        .features {
            grid-column: 2 / 3;
            grid-row: 1;
        }

        .toggle-more-info,
        .more-info {
            display: block;
            grid-column: 1 / -1;
            grid-row: 2;
        }

        .more-info {
            grid-row: 3;
        }

        .toggle-more-info {
            background-color: transparent;
            border: none;
            color: #A770EF;
            font-size: 1.4rem;
            font-weight: 700;
            padding: 0;
            text-align: left;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 475px;
    grid-template-rows: 1fr; // height: 100vh;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}




