@import 'setup';
@import 'utils';

$header-font: 'Roboto Slab', serif;
$body-font: 'Roboto', sans-serif;

$black: #474747;

html {
    font-size: 62.5;
}

header{
    .logo {
        width:45px;
        margin:8px 0px -1px 10px
    }
    h1 {
        text-align:left;
        font-family: $header-font;
        color: darken($black, 5%);
        font-size: 3rem;
        margin: 0 2px;
        padding: 0;
        font-weight:700;
        display: inline-block;
    }

    h2 {
        padding: 0;
        margin: 0 0 0 10px;
        color: darken($black, 5%);
    }
}
body {
    background: #A770EF;
    /* fallback for old browsers */

    background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
    /* Chrome 10-25, Safari 5.1-6 */

    background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: $body-font;

}

#map {
    height: 100%;
    width: 100%;
}

.icon {
    max-height: 3em;
}

.wrapper {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;

    .mapContainer {
        grid-column: 1;
        grid-row: 1;
    }

    .sidebar {
        background-color: rgba(255, 255, 255, 0.8);
        display: grid;
        grid-column: 2;
        grid-row: 1;
        grid-template-rows: auto 1fr;
        padding: 25px;
    }

    .washroomContainer {
        grid-column: -1;
        overflow-y: auto;

        h2, p {
            font-size: 1rem;
        }

        h2 {
            border-top: 1px dotted lightgray;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }

}

.features {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;    

    li {
        margin-right: 8px;
        //width: 2em;

        img {
            display: block;
        }
    }

}

form {
    input {
        width: 100%;
    }
}

footer {
    p {
        font-family: $body-font;
        text-align:center;
        padding:0;
        margin: 5px;
    }
}